{% extends 'base.html.twig' %}
{% block body %}

      <div class="jumbotron">
        <h1>случайное число {{ luckynumb }}</h1>
        <p><a class="btn btn-lg btn-success" href="{{ path('homepage') }}" role="button">получить случайное число</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          
      </div>
        </div>

        <div class="col-lg-6">
        <canvas id="myChart" width="400" height="400"></canvas>
        <script type="text/javascript" src="{{ asset('build/chart.bundle.min.js')}}"></script>
        {% block javascripts %} {% endblock %}<script>var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Вересень", "Жовтень","Листопад","Грудень"],
        datasets: [{
            label: '°C',
          
            data: [12, {{ wea_ther }},3,0.5],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',

            ],
            
            borderWidth: 1
        }]
    },

    
});</script> 
          
        </div>
      </div>

      <footer class="footer">
        <p>&copy; kilbas project</p>
      </footer>

    </div> <!-- /container -->

{% endblock %}

    
 